[Desktop Entry]
Name=NoiseTorch
Comment=Create a virtual microphone that suppresses noise, in any application.
Exec=~/.local/bin/noisetorch
Icon=noisetorch.png
Terminal=false
Type=Application
Categories=Audio;AudioVideo;Utility;
