---
name: build dev artifact

on:
  pull_request:

permissions:
  contents: read
  pull-requests: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.18
      - uses: actions/checkout@v3
      - run: make dev
      - uses: actions/upload-artifact@v3
        with:
          name: linux_x64
          path: ${{ github.workspace }}/bin/noisetorch
